body{
    width: 100%;
    height: auto;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(80%);
}


.navbar-brand{
    font-size: 40px;
    color: #8FCE2E;
}
.nav-item{
    padding-right: 30px;
    border-right: 70px;
}

.nav-link{
    color: white;
    font-size: 24px;
    font-weight: bold;
    
}

.icono-redes{
    position: relative;
    width: 50px;
    padding: 2px 2px;
    margin: 5px 5px;
}



.formulario{
    background: rgba(143,206,46,0.5);
    padding: 20px;   
    width: 40%;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    color: white;
        
}

.Logo{
    align-content: center;
    width: 50%;
    height: 50%;
    position: relative;
    transform: translate(50%,-80%);
}

.form-control{
    margin: 15px;
    background: white;
    border-radius: 15px;
}

.ingresar{
    padding: 10px;
    font-size: 22;
}

