.container {
  max-width: 960px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* body{
  width: 100%;
  height: auto;
  background-image: url(/Static/images/fondo.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(80%);
} */

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}