
:root{
    --primary: #8B75F1;
    --blanco: #FFFFFF;
    --grey: #E1D7D7;
}

body{
    width: 100%;
    height: auto;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}
.navbar-brand{
    font-size: 40px;
    color: #8FCE2E;
}

.nav-item{
    padding-right: 30px;
    border-right: 70px;
}

.nav-link{
    color: white;
    font-size: 24px;
    font-weight: bold;
    
}
.container{
    position: relative;
    transform: translate(0%, 20%);
}

.text_principal{
    font-size: 35px;
    color:black;
}

.modal-dialog{
    background-color: none;
}
.modal-header{
    align-content: center;
    text-align: center;

}

.modal-title{
    color: #8FCE2E;
    
}

#sidebar-container{
    min-height: 70vh;
}

#sidebar-container .menu{
    width: 18rem;
}

.bg-grey{
    background: #E1D7D7;
}

.avatar{
    max-width: 65px;
}