.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
a{
  text-decoration: none;
  color: black;
}

.navbar-brand{
    font-size: 40px;
    color: #8FCE2E;
}
a.skip-link:hover {color:white}
body{
  width: 100%;
  height: auto;
  background-image: url(/src/fondos/fondo.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(80%);
}



.navbar-brand{
    font-size: 40px;
    color: #8FCE2E;
}

.nav-item{
    padding-right: 30px;
    border-right: 70px;
}

.nav-link{
    color: white;
    font-size: 24px;
    font-weight: bold;
    
}

.nav-link-user{
  color: white;
  font-size: 24px;
  font-weight: bold;
  
}

.card{
  
  background: white;
}
.card-title{
  color: #8FCE2E;
  align-content: center;
  text-align: center;
}

.card-text{
  color:white;
  font-size: 19px;
  
}

.card-text-admin{
  color:black;
  font-size: 19px;
  
}

.card-text-admin-black{
  background:white;
  color:black;
  font-size: 6px;
  
}

